<?xml version="1.0"?>
<!--
  ~ @author     Sashas IT Support <support@sashas.org>
  ~ @copyright  2020  Sashas IT Support Inc. (http://www.extensions.sashas.org)
  ~ @license     http://opensource.org/licenses/GPL-3.0  GNU General Public License, version 3 (GPL-3.0)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magetarian\CustomerTwoFactorAuth\Api\CustomerConfigManagerInterface" type="Magetarian\CustomerTwoFactorAuth\Model\CustomerConfigManager" />
    <preference for="Magetarian\CustomerTwoFactorAuth\Api\CustomerProvidersManagerInterface" type="Magetarian\CustomerTwoFactorAuth\Model\CustomerProvidersManager" />
    <preference for="Magetarian\CustomerTwoFactorAuth\Api\ProviderInterface" type="Magetarian\CustomerTwoFactorAuth\Model\Provider" />
    <preference for="Magetarian\CustomerTwoFactorAuth\Api\ProviderPoolInterface" type="Magetarian\CustomerTwoFactorAuth\Model\ProviderPool" />
    <!-- Customer 2FA providers list -->
    <type name="Magetarian\CustomerTwoFactorAuth\Api\ProviderPoolInterface">
        <arguments>
            <argument name="providers" xsi:type="array">
                <!-- Parameter "name" must be the same as defined in virtualType "code" parameter -->
                <item name="google" xsi:type="object">Magetarian\CustomerTwoFactorAuth\Model\Provider\Google</item>
                <item name="duo_security" xsi:type="object">Magetarian\CustomerTwoFactorAuth\Model\Provider\DuoSecurity</item>
                <item name="authy" xsi:type="object">MSP\TwoFactorAuth\Model\Provider\Authy</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magetarian\CustomerTwoFactorAuth\Model\Provider\Google" type="Magetarian\CustomerTwoFactorAuth\Model\Provider">
        <arguments>
            <argument name="engine" xsi:type="object">Magetarian\CustomerTwoFactorAuth\Model\Provider\Engine\Google</argument>
            <argument name="code" xsi:type="const">\MSP\TwoFactorAuth\Model\Provider\Engine\Google::CODE</argument>
            <argument name="name" xsi:type="string">Google Authenticator</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magetarian\CustomerTwoFactorAuth\Model\Provider\DuoSecurity" type="Magetarian\CustomerTwoFactorAuth\Model\Provider">
        <arguments>
            <argument name="engine" xsi:type="object">Magetarian\CustomerTwoFactorAuth\Model\Provider\Engine\DuoSecurity</argument>
            <argument name="code" xsi:type="const">\MSP\TwoFactorAuth\Model\Provider\Engine\DuoSecurity::CODE</argument>
            <argument name="name" xsi:type="string">Duo Security</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="twofactorauth" type="Magetarian\CustomerTwoFactorAuth\Plugin\Customer\Controller\Account\LoginPostPlugin" sortOrder="1" disabled="false" />
    </type>
    <type name="Magento\Customer\Controller\Ajax\Login">
        <plugin name="twofactorauth" type="Magetarian\CustomerTwoFactorAuth\Plugin\Customer\Controller\Ajax\LoginPlugin" sortOrder="1" disabled="false" />
    </type>
</config>
