<?xml version="1.0"?>
<!--
  ~ @author     Sashas IT Support <support@sashas.org>
  ~ @copyright  2020  Sashas IT Support Inc. (http://www.extensions.sashas.org)
  ~ @license     http://opensource.org/licenses/GPL-3.0  GNU General Public License, version 3 (GPL-3.0)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="msp_securitysuite_twofactorauth">
            <group id="general">
                <field id="customer_force_tfa" translate="label" type="select" sortOrder="90" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Force Two Factor Auth for Customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Force all customers to use 2FA.</comment>
                </field>
            </group>
            <group id="duo">
                <field id="enabled_customer" translate="label" type="select" sortOrder="15" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable This Provider For Customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="google">
                <field id="enabled_customer" translate="label" type="select" sortOrder="15" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable This Provider For Customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="authy">
                <field id="enabled_customer" translate="label" type="select" sortOrder="15" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable This Provider For Customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
