<div class="field tfa-login" data-bind="visible: isButtonVisible()">
    <div class="primary">
        <button type="button" data-bind="css: 'tfa-login-'+getCode(),click: activate.bind($data)" class="action primary" data-code="getCode()">
            <span data-bind="i18n: 'Login using '+getName()"></span>
        </button>
    </div>
</div>
<div class="field tfa-auth duo-auth" data-bind="visible: isActive()">
    <iframe data-bind="attr: {id: getIframeId()}" class="duo-iframe"></iframe>
    <!-- ko if: (getSelectedProviderCode() == getCode())-->
    <input name="provider_code" data-bind="value: getSelectedProviderCode()" id="provider_code" type="hidden" />
    <!-- /ko -->
</div>

